<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <menuitem id="tfi_parent_menu" name="TFI"
                  sequence="1"/>

        <menuitem id="local_menu" name="Local"
                  parent="tfi_parent_menu"
                  action="tfi_local_act_window"/>

        <menuitem id="zona_menu" name="Zona"
                  parent="tfi_parent_menu"
                  action="tfi_zona_act_window"/>

        <menuitem id="item_menu" name="Item"
                  parent="tfi_parent_menu"
                  action="tfi_item_act_window"/>
    </data>
</odoo>